{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<section id="features" class="fdb-block">
	
		<div class="container">

			<h1 class="text-center">Vagas de emprego em Bauru e região</h1>

			<h4 class="text-center">
				O Bauru Oportunidades divulga <b>GRATUITAMENTE</b> vagas de emprego em Bauru e região.
			</h4>
			
			<h4 class="text-center">
				Quer ver as vagas publicadas? Veja abaixo os anúncios recentes. 
				Clique no botão da vaga para visualizar os detalhes.
			</h4>

		</div>

		<h4 class="text-center mt-5">Ultimas vagas publicadas no Bauru Oportunidades</h4>

		<div class="container">
			{% if jobs|length > 0 %}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Tipo</th>
							<th scope="col">Cidade</th>
							<th scope="col">Criado em</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for job in jobs %}
							<tr>
								<td>{{job.name}}</td>
								<td>{{job.jobtype}}</td>
								<td>{{job.city}}</td>
								<td>{{job.createdat|date("d-m-Y")}}</td>

								<td>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobModal{{job.id}}">Ver Mais</button>
									<div class="modal fade" id="jobModal{{job.id}}" tabindex="-1" aria-labelledby="jobModalLabel{{job.id}}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="jobModalLabel{{job.id}}">
													<strong>{{job.name}}</strong>
													<br>
													<small>Criado em {{job.createdat|date('d, M , Y')}}</small>
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p id="job-description">{{job.record}}</p>
												<p id="job-contact">Contato: <a href="mailto:{{job.fkuser.email}}">{{job.fkuser.email}}</a></p>
												<p id="job-location">Localização: {{job.city}}</p>
												<p id="job-type">Tipo: {{job.jobtype}}</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Voltar para a lista de vagas</button>
											</div>
											</div>
										</div>
									</div>
								</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>

	</section>
{% endblock %}
